.row-info{
    width: 70vw;
    height: 10vh;
    display: flex;
    margin: 5vh 7.5vw;
    justify-content: space-between;
    text-align: center;
}
.card{
    background-color: white;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: 15px;
}
.total-user{
    font-size: 24px;
    font-weight: bold;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.total-user p{
    margin: 0;
}
.btn-add{
    font-size: 24px;
    background-color: rgba(37, 63, 226,0.8);
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
    height: 50%;
    padding: 1%;
    cursor: pointer;
}
.btn-add:hover{
    background-color: rgb(37, 63, 226);
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header-profile{
    margin: 3%;
    text-align: center;
}
.avatar-profile{
    width: 10%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.avatar-profile img{
    width: 100%;
    border-radius:50% ;
    object-fit: contain;
}
.name-profile{
    font-size: 24px;
    font-weight: bold;
}
ul{
    list-style: none;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 2%;
    padding: 1%;
    gap:2vh
}
.content-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 2%;
    padding: 1%;
    gap:2vh;
    margin-left: 9vh;
}
.list-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 2%;
    padding: 1%;
    gap:2vh;
}
.list-game ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 2%;
    padding: 1%;
    gap:2vh;
}