<div class="row-info">
    <div class="total-user card ">
        <p>total users</p>
        <span>4</span>
    </div>
    <div class="btn-add">
        <i class="fa-solid fa-user-plus"></i>Add User
    </div>
</div>
<div class="profile">
    <div class="box-profile">
        <div class="header-profile">
            <div class="avatar-profile">
                <img src="https://htmlstream.com/front-dashboard/assets/img/160x160/img6.jpg" alt="">
            </div>
            <div class="name-profile">{{fullName}}</div>
            <div class="time-join"><i class="fa-solid fa-calendar-days"></i>07/05/2025</div>
        </div>
        <div class="content-profile">
            <div class="left-profile card">
                <div class="title">Profile</div>
                <div class="col">
                    <span><i class="fa-solid fa-circle-user" style="padding: 2px;margin-right: 5px;"></i>Tài khoản : {{tk}}</span>
                    <span><i class="fa-solid fa-lock" style="padding: 2px;margin-right: 5px;"></i>Mật khẩu : {{mk}}</span>
                    <span><i class="fa-solid fa-money-bills" style="padding: 2px;margin-right: 5px;"></i>Money : {{money}}</span>
                    <span></span>
                </div>
            </div>
            <div class="active-profile card">
                <div class="title">
                    Active
                </div>
                <div class="overview card">
                    <p><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</p>
                    <p><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</p>
                </div>
                <ul class="list-game">
                    <li>Reng Reng : <span><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</span> <span><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</span></li>
                    <li>Tài xỉu : <span><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</span> <span><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</span></li>
                    <li>Slot 777 : <span><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</span> <span><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</span></li>
                    <li>Spaceman : <span><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</span> <span><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>