<header>
    <div class="head">
        <div class="head-left">
            <div class="logo">Admin</div>
            <div class="humberger"><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="head-right">
            <div class="admin">
                <div class="avatar-admin">
                    <img src="https://i.pinimg.com/736x/5f/40/6a/5f406ab25e8942cbe0da6485afd26b71.jpg" alt="">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class="info-admin">
                    <div class="name-admin">
                        <span>{{fullname}}</span>
                    </div>
                    <div class="role-admin">
                        <span>Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>