<div class="side-left">
    <div class="nav">
        <ul>
            <li (click)="DashboardPage()"><i class="fa-solid fa-chart-simple"></i>Dashboard</li>
            <li (click)="UsersPage()"><i class="fa-solid fa-user"></i>Users</li>
            <li (click)="GamePage()"><i class="fa-solid fa-gamepad"></i>Game</li>
            <li><i class="fa-solid fa-chart-pie"></i>Statics</li>
            <li><i class="fa-solid fa-money-check-dollar"></i>Atm</li>
        </ul>
    </div> 
</div>
