.side-left{
    position: fixed;
    left: 0;
    top: 7vh;
    width: 12vw;
    height: 93vh;
    background-color:#FFFFFF ;
    padding: 2% 2rem;
}
.side-left .nav{
    width: 100%;
}
.side-left .nav ul{
    width: 80%;
    list-style: none;
    margin: 0;
}
.side-left .nav ul li{
    padding: .5rem;
    margin: 5% 0;
    font-size: 24px;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
    color: #464849;
}
.side-left .nav ul li:hover{
    background-color: #E0F3FF;
    color: #343a40;
}