.content{
    margin-left: 2rem;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
}
.card{
    background-color: white;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: 15px;
}
.management{
    margin: 5vh 7.5vw;
    width: 70vw;
    height: 20vh;
}
.management .head-manage{
    margin:2% 10%;
    color: rgba(13,27,62,0.7) ;
    font-size: 1.2rem;
    font-weight: bold;
}
.management .row-manage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.management .row-manage .col-manage{
    display: flex;
    width: 40%;
}
.col-manage .col-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(216, 216, 5);
    font-size: 2rem;
    height: 50%;
    width: 15%;
    border-radius: 50%;
    text-align: center;
}
.col-manage .col-info{
    width: 80%;
    margin-left: 5%;
}
.col-manage .col-info p{
    opacity: .6;
}
.col-manage .col-info span{
    font-size: 2.5rem;
    font-weight: bold;
}
.statics-game{
    margin: 5vh 7.5vw;
    width: 70vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.statics-game .col-game{
    width: 20%;
    margin: 0 2.5%;
    height: 100%;
    border-radius: 10px;
}