<div class="content">
    <div class="container">
        <div class="management card">
            <div class="head-manage">
                Management
            </div>
            <div class="row-manage">
                <div class="col-manage">
                    <div class="col-logo">
                        <i class="fa-solid fa-building-user"></i>
                    </div>
                    <div class="col-info">
                        <p>User management</p>
                        <span>{{amountUser}}</span>
                    </div>
                </div>
                <div class="col-manage">
                    <div class="col-logo">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>
                    <div class="col-info">
                        <p>Incom Money</p>
                        <span>{{amountIncome}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="statics-game">
            <div class="col-game card ">
                <img src="slot777.jfif" alt="">
                <div class="parameter">
                    <p><i class="fa-solid fa-up-long" style="color: #26f2b2;"></i> +1000$</p>
                    <span></span>
                </div>
            </div>
            <div class="col-game card">
                <img src="rengreng.jfif" alt="">
                <div class="parameter">
                    <p><i class="fa-solid fa-down-long" style="color: #ef0b0b;"></i>-1000$</p>
                    <span></span>
                </div>
            </div>
            <div class="col-game card">
                <img src="spaceman.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>
            </div>
            <div class="col-game card">
                <img src="chanle.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="statics-user card">
            <div class="head-user">
                <i class="fa-solid fa-table"></i>Dynamic Table User
            </div>
            <div class="search-user">
                <div id="search">
                    <span>Tìm kiếm</span>
                    <input type="text" name="" id="">
                </div>

            </div>
            <table class="card">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>DateTime</th>
                        <th>Edit</th>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users |  paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
                        (click)="goToUser(user.id)" style="cursor:pointer;" [class.active]="isActive[user.id - 1]">
                        <td>
                            <span *ngIf="!isEditing[user.id - 1]">{{user.id}}</span>
                            <input *ngIf="isEditing[user.id - 1]" [(ngModel)]="user.id"/>
                        </td>
                        <td>
                            <span *ngIf="!isEditing[user.id - 1]">{{user.fullname}}</span>
                            <input *ngIf="isEditing[user.id - 1]" [(ngModel)]="user.fullname" type="text" (click)="$event.stopPropagation()" />
                        </td>
                        <td>
                            <span *ngIf="!isEditing[user.id - 1]">{{user.email}}</span>
                            <input *ngIf="isEditing[user.id - 1]" [(ngModel)]="user.email" type="text" (click)="$event.stopPropagation()"/>
                        </td>
                        <td>
                            <span *ngIf="!isEditing[user.id - 1]">{{user.datetime}}</span>
                            <input *ngIf="isEditing[user.id - 1]" [(ngModel)]="user.datetime" type="text" (click)="$event.stopPropagation()"/>
                        </td>
                        <td>
                            <i (click)="toggleMenu(user.id - 1); $event.stopPropagation()" class="fa-solid fa-sliders"></i>
                            <div *ngIf="showMenu[user.id - 1]" class="dropdown-menu" (click)="$event.stopPropagation()">
                                <div class="menu-item" (click)="editItem(user.id - 1)" (click)="$event.stopPropagation()">Chỉnh sửa</div>
                                <div class="menu-item" (click)="deleteItem(user.id)" (click)="$event.stopPropagation()">Xóa</div>
                            </div>
                            <div *ngIf="isEditing[user.id - 1]" (click)="$event.stopPropagation()">
                                <button (click)="saveItem(user.id); $event.stopPropagation()">Lưu</button>
                                <button (click)="cancelEdit(user.id - 1); $event.stopPropagation()">Hủy</button>
                            </div>
                          </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-container">
                <pagination-controls
                  (pageChange)="currentPage = $event"
                  previousLabel="Trước"
                  nextLabel="Sau"
                  [maxSize]="4"
                  [directionLinks]="true"
                  [autoHide]="true">
                </pagination-controls>
              </div>
        </div>
    </div>
</div>