<div class="content">
    <div class="container">
        <div class="management card">
            <div class="head-manage">
                Management
            </div>
            <div class="row-manage">
                <div class="col-manage">
                    <div class="col-logo">
                        <i class="fa-solid fa-building-user"></i>
                    </div>
                    <div class="col-info">
                        <p>User management</p>
                        <span>{{amountUser}}</span>
                    </div>
                </div>
                <div class="col-manage">
                    <div class="col-logo">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>
                    <div class="col-info">
                        <p>Incom Money</p>
                        <span>{{amountIncom}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="statics-game">
            <div class="col-game card ">
                <img src="slot777.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>          
            </div>
            <div class="col-game card">
                <img src="slot777.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>
            </div>
            <div class="col-game card">
                <img src="slot777.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>
            </div>
            <div class="col-game card">
                <img src="slot777.jfif" alt="">
                <div class="parameter">
                    <p></p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>